<div id="<%= dom_id game %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= game.title %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Genre:</strong>
    <%= game.genre_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Platform:</strong>
    <%= game.platform_id %>
  </p>
</div>
